{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>With Love</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
</head>
<body>

<header>
    <h1>Oi, amor! Esse ano meu cartão vai ser em forma de site</h1>
    <h3>Um pouco perdido no conceito, mas por você eu viro front-end &#9829;</h3>
</header>
<main>

    <div class="text-main">
        <h3>Lá vamos nós</h3>
        <p>Ora, ora, estamos no <b>SEGUNDO</b> dia dos namorados juntos (Na verdade eu planejo mostrar tudo antes) e
            olhe... teve muita coisa esse ano. Se antes eu falei sobre as primeiras vezes, dessa vez eu quero agradecer
            pelas coisas que aconteceram bem mais do que uma vez, as coisas que se repetem e as coisas que sempre vão
            acontecer.</p>

        <h3>Então para abrir esse grande evento</h3>

        <p>Uma arte, digital? sim. Mas real também. Por que eu vou te amar como um idiota ama.</p>

        <img class="images" src="{% static 'img/ate_final.jpg' %}">

        <h3>Arte</h3>
        <p>Mas é claro, também fazemos nossa arte de várias outras formas, sempre encontrando novas formas de se
            divertir e traquinar (nem sempre por que as vezes faltam ideas mas o que importa é o tempo com você). Você
            me ensinou a ver a vida de outras formas, ver ainda mais a pureza das coisas e dos momentos simples as
            coisas banais, a inocência que a vida tem. Com você o mundo é mais lindo, tudo é mais belo.</p>

        <img class="images" src="{% static 'img/arte.jpeg' %}">

        <h3>Aventura</h3>
        <p>Descobrir e explorar o mundo com você é muito melhor. A minha parceira de aventuras, saiba que pra onde você
            for eu vou, seja qual for seu sonho ou objetivo eu estarei lá com você para te apoiar quantas vezes for
            necessário. Escalaremos dunas e montanhas, por você atravessarei mares e oceanos por que a melhor viagem de
            todas é essa vida junto de você.</p>

        <img class="images" src="{% static 'img/viagem.jpeg' %}">

        <h3>Eventos</h3>
        <p>Também houveram eventos chiques e especiais, com uma pessoa chique e especial que é você. Mas é claro, o
            melhor evento de todos é o seu abraço, sentir você comigo, o seu cheiro e de uma forma que talvez eu nunca
            sabia explicar, sentir <b>você</b> e toda a sua existência, a realidade de que a mulher dos meus sonhos
            existe e está comigo.</p>

        <img class="images" src="{% static 'img/eventos.jpeg' %}">

        <h3>Desastres</h3>
        <p>Na sequência vem algo que não se repetiu, a foto do apagão. Mas isso não é o que quero destacar, e sim a
            felicidade em qualquer momento ou qualquer desastre, estando junto de ti, sei que serei feliz e que tentarei
            te fazer feliz pois não existe tempo ruim ao lado da pessoa mais maravilhosa do mundo (você pode discordar,
            mas pra mim é sim).</p>
        <img class="images" src="{% static 'img/apagao.jpeg' %}">

        <h3>Vibe</h3>
        <p>O casal mais famosinho do mundo, sim. Como dá pra ver na foto mais do que fama tem a união de espírito.
            Cansados? sim, mas juntos e que assim seja para sempre e por muitos mais dias dos namorados. Até o infinito
            com você, Amor, obrigado ser esse ombro de descanso na minha vida, por seu meu amparo, por ser minha
            segurança.</p>
        <img class="images" src="{% static 'img/sonin.jpeg' %}">

        <h3>Pra finalizar</h3>
        <p>Preste bem atenção nessas fotos:</p>
        <div class="container">
            <img src="{% static 'img/chill.jpeg' %}">

            <img src="{% static 'img/crime.jpeg' %}">
        </div>
        <p>Nelas está o motivo da minha felicidade, minha parceira, melhor amiga e meu amor!</p>
        <h2>Te amo, Eduarda, minha paixão &#9829;</h2>

    </div>

</main>
<footer>

    <div class="grid-container">
        <div class="grid-item">
            <h3>Feito por esse cara aqui:</h3>
            <div class="image-wrapper">
                <img class="authors" src="{% static 'img/matheus.png' %}" alt="Imagem do Matheus">
            </div>
        </div>

        <div class="grid-item">
            <h3>Que namora essa gata aqui:</h3>
            <div class="image-wrapper">
                <img class="authors" src="{% static 'img/dudinha.png' %}" alt="Imagem da Dudinha">
            </div>
        </div>
    </div>
    <p id="fim">11 de Junho de 2023. Todos os direitos reservados.</p>


</footer>
</body>
</html>