{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boa Sorte - With Love</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
</head>
<body>

<header>
    <h1>Boa sorte, Mozinho</h1>
    <h3>Ainda perdido no conceito, mas por você eu eu faço tudo &#9829;</h3>
</header>
<main>

    <div class="text-main">
        <h3>Bom dia, amor!</h3>
        <br>
        <p>Hoje por razões especiais é um bom dia dado de outra forma, pois assim como no ano passado sei como o dia é
            corrido, e queria desejar boa sorte. Mas como você pediu, sem drama nem exagero, só aproveite a prova,
            ganhar? você já tem uma medalha, não precisa repetir as coisas, mas se ganhar dá pra arrumar um canto pra
            pôr né.</p>
        <br>
        <p>Mas agora sem brincadeira, particularmente tenho muito orgulho de você, um exemplo muito grande pra mim em
            muitas coisas, quando eu crescer quero ser que nem Maria Eduarda Fernandes Teixeira, ou pelo menos roubar
            ela. Perco muito o foco? sim, mas com a melhor das intenções, aproveite bem essa experiência, faça muitos
            amiguinhos e mostre para aquela prova quem manda.</p>
<br>
        <p><b>"
            Se ouvirá <br>
            Quando ninguém mais <br>
            Quiser te escutar, eu vou <br>
            Vou começar a ter no que acreditar <br>
            Eu vou te levar aonde não te da mais pé <br>
            Venha o que vier <br>
            Te escutar <br>
            Até quando eu parar pra perceber <br>
            Que o tom da sua voz ficou grave demais pra mim <br>
            ”
        </b></p>


        <h3>ps: te amo, mozinho </h3>

        <img class="images" src="{% static 'img/coracao.jpeg' %}">


    </div>

</main>
<footer>

    <div class="grid-container">
        <div class="grid-item">
            <h3>Feito por esse cara aqui:</h3>
            <div class="image-wrapper">
                <img class="authors" src="{% static 'img/matheus.png' %}" alt="Imagem do Matheus">
            </div>
        </div>

        <div class="grid-item">
            <h3>Que namora essa gata aqui:</h3>
            <div class="image-wrapper">
                <img class="authors" src="{% static 'img/dudinha.png' %}" alt="Imagem da Dudinha">
            </div>
        </div>
    </div>
    <p id="fim">11 de Junho de 2023. Todos os direitos reservados.</p>


</footer>
</body>
</html>